div {
	border: 1px black solid;
	width: 40em;
	padding: 0.5em;
}
#enseñanza {
	margin-left: 13em;
}
#secundaria {
	margin-left: 13em;
}
#nombre {
	margin-left: 3.5em;
}
#batch {
	margin-left: 2.4em;
}
#ciclo {
	margin-left: 1.8em;
}